<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mymvccritic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mymvccritic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mymvccritic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mymvccritic</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Test_Google_Api.Models.DB.RestaurantsDBEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test_Google_Api.Models.DB.RestaurantsDBEntities, Test_Google_Api" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="restaurants_dbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=br-cdbr-azure-south-a.cloudapp.net;Initial Catalog=restaurants;Persist Security Info=True;User ID=bff009fc09f7cb;Password=6d040bd9" Name="server=br-cdbr-azure-south-a.cloudapp.net;user id=bff009fc09f7cb;password=6d040bd9;persistsecurityinfo=True;database=restaurants" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test_Google_Api.Models.DB.restaurants_dbEntities, Test_Google_Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=br-cdbr-azure-south-a.cloudapp.net;database=acsm_7deb37ee3eba7a0;user id=b56dd965ab7022;password=13a26704" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=br-cdbr-azure-south-a.cloudapp.net; Database=acsm_7deb37ee3eba7a0;Uid=b56dd965ab7022;Pwd=13a26704;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)restaurants_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DB.Restaurants_MySql_Model.csdl|res://*/Models.DB.Restaurants_MySql_Model.ssdl|res://*/Models.DB.Restaurants_MySql_Model.msl;provider=MySql.Data.MySqlClient;provider connection string="server=br-cdbr-azure-south-a.cloudapp.net;user id=bff009fc09f7cb;password=6d040bd9;persistsecurityinfo=True;database=restaurants"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Test_Google_Api.Models.DB.RestaurantsDBEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Test_Google_Api.Models.DB.RestaurantsDBEntities" />
  </ItemGroup>
</Project>